    <link rel="canonical" href="{{ site.baseurl }}" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="{{ site.baseurl }}page2/" />

    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:image" content="{{ site.baseurl }}assets/images/logo.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@devoncestes">
    <meta name="twitter:creator" content="@devoncestes">

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}

    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}

    {% if page.description %}
      <meta name="twitter:text:description" content="{{page.description}}">
    {% else %}
      <meta name="twitter:text:description" content="An (at least) monthly weblog about software">
    {% endif %}

    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/cropped_headshot.jpg">

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "Devon C. Estes",
    "url": "{{ site.baseurl }}",
    "image": "{{ site.baseurl }}assets/images/logo.png",
    "description": "{{ site.description }}"
}
    </script>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}feed.xml" />
