<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Devon C. Estes</title>
    <meta name="description" content="Devon C. Estes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/images/favicon.ico" >

    <link rel="alternate" type="application/rss+xml" title="Devon C. Estes" href="/feed.xml" />

    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
    <link rel="stylesheet" type="text/css" href="/css/codefund.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    <meta property="og:site_name" content="Devon C. Estes" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Devon C. Estes" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/images/logo.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@devoncestes">
    <meta name="twitter:creator" content="@devoncestes">
    <meta name="twitter:title" content="Devon C. Estes">
    <meta name="twitter:url" content="http://localhost:4000/">
    <meta name="twitter:text:description" content="An (at least) monthly weblog about software">
    <meta name="twitter:image:src" content="http://localhost:4000/images/cropped_headshot.jpg">

    <%= csrf_meta_tag() %>
  </head>

  <body>
    <div class="nav">
      <h3 class="nav-title">Menu</h3>
      <a href="#" class="nav-close">
        <span class="hidden">Close</span>
      </a>
      <ul>
        <li class="nav-home  nav-current" role="presentation"><a href="/">Home</a></li>
        <li class="nav-about " role="presentation"><a href="/about">About Me</a></li>
      </ul>
      <a class="subscribe-button icon-feed" href="/feed.xml">Subscribe</a>
    </div>

    <span class="nav-cover"></span>

    <div class="site-wrapper">
      <%= @inner_content %>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script src="https://codefund.io/scripts/c073469c-dfa9-4c80-89f1-4c46166782f3/embed.js?template=horizontal"></script>
  </body>
</html>
